<div class="row">
	<div class="col-lg-12">
		<div class="breadcrumb panel panel-default col-lg-12 breadcrumb-panel">
			<table class="width-100">
				<tr>
					<td class="text-left">
						<h4 class="text-capitalize">Document Management</h4>
					</td>

					<td class="text-right">
						<button class="btn btn-default" ng-click="navigateTo('login')">
							<span class="glyphicon glyphicon-off"></span>
							{{ userCtrl.getUserDisplayName() }}
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>